*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;     
    color: #FFFFFF;
}
body{
    width: fit-content;
    margin: auto;
    border: 1px solid black;
}

.header-container{
    position: relative;
    text-align: center;
}
.image{
    width: 665px;
    height: 245px;
    box-shadow: inset 0 0 0 1000px rgba(3, 3, 3, 0.8);
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position:0% 24.6%;
}
.header-container h1{
    position: absolute;
    top:110px;
    left: 62px;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 42.79px;
    leading-trim: NONE;
    line-height: 23.77px;
    letter-spacing: -4.5%;
    text-align: justify;
    vertical-align: middle;
}

.header-container p{
    position: absolute;
    top: 115px;
    right: 46px;
    left: 480px;
    bottom: 88px;
    width: 114px;
    height: 20px;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
    cursor: pointer;
}



.search{
    width: 462px;
    height: 38px;
    position: absolute;
    top: 230px;
    left: 44px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 6px;
    background-color: #2E2E2F;
}